@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Source+Sans+3:wght@400;500;600;700;800;900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:#534f4f;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-inline:10vw;
}

.logo-container img{
    width:120px;
    cursor:pointer;
}

.nav-items ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style:none;
    column-gap:20px;
    font-size:1.4vw;
}

.res-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2vw;
}

.res-card{
    padding:6px;
    width:300px;
    height:400px;
    text-align: center;
    transition:.3s ease-out;
    border:2px solid rgb(217, 205, 205);
    background-color:#f1f1f1;
}

.res-card h3{
    font-size:15px;
}

.res-card:hover{
  transform: scale(1.1);
  cursor: pointer;
  border:none;
  box-shadow:5px 5px 5px rgb(217, 205, 205);
}

.res-card img{
    width:100%;
    height:62%;
}

.filter-btn{
    margin:15px 0px 10px 110px;
    padding:8px;
    color:#534f4f;
    background-color:white;
    border-radius:10px;
    cursor: pointer;
    border:2px solid rgb(217, 205, 205);
}