@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Source+Sans+3:wght@400;500;600;700;800;900&display=swap');

/*This is kind of importing our tailwind css into index.css file*/
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Shimmer component  */
.shimmer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
  }
  
  .shimmer-card {
    padding: 6px;
    width:280px;
    height:200px;
    text-align: center;
    transition: 0.3s ease-out;
    border: 2px solid rgb(217, 205, 205);
    background-color: #bbb;
    position: relative;
    overflow: hidden;
    border-radius:10%;
  }
  
  .shimmer-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, #fff 50%, transparent 100%);
    animation: shimmer 1.5s infinite linear;
  }
  
  @keyframes shimmer {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }


  
/* Error.css */
.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #ff7e5f, #a9120a);
  opacity: 0;
  animation: fadeIn 1s forwards; /* Animation for fade-in effect */
}

.error-content {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-20px);
  animation: slideIn 1s forwards; /* Animation for slide-in effect */
}

.error-icon {
  font-size: 3em;
  margin-bottom: 10px;
  color: #ff3d00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 2em;
  color: #333;
}

p {
  font-size: 1.2em;
  color: #666;
}

/* Keyframes for animations */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    transform: translateY(0);
  }
}

/* RestaurantMenu Css*/
.menu img{
   width:20%;
}

/* InternetConnection-Checker Css */
/* Add this CSS to your main stylesheet or component style */

.status-container {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.status-container p {
  margin: 0;
  color:white;
}
